# Editors files
.idea/
.vscode/

# Nest.land - eggs
nestkey.json
.nest-api-key

# Benchmarks
benchmarks/**
!benchmarks/README.md

# Logs
*.log
.*.log
eggs-debug.log

# Private
*.env
*.env*
!.env.example
!.env.sample
!.env.vault
!.env.project

# Since npm: specifier is now supported
node_modules
.npm
**/node_modules/**
.DS_Store
__deno_lock__
*.lock
deno.lock
